---

const {title, details} = Astro.props
---

<section class="flex items-start justify-between md:flex-col dark:text-white">
    <h2 class="w-[15rem] mt-16">{title}</h2>
    <div class="w-full">
        {
            details.map( (detail) => (
                    <div class="my-16">
                        <div class="flex justify-between items-center flex-wrap">
                            <h3 class="text-xl font-semibold">
                                {detail.name}
                            </h3>
                            <p class="text-sm dark:text-gray">
                                {detail.startDate} - {detail.endDate}
                            </p>
                        </div>
                        <p class="text-sm mt-3 dark:text-primary text-secondary">{detail.location}</p>
                    </div>
                    )
                )
            }
    </div>
</section>